{% load staticfiles %}

<div id="meetTheAdvisorsAndMentors">
    <div class="hp-title">Advisors and Mentors</div>

    <div class="row">
        <div class="col-md-6">
            {% include 'main/company/mentors/lorraine.html' %}
        </div>

        <div class="col-md-6">
            {% include 'main/company/mentors/savraj.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'main/company/mentors/kwame.html' %}
        </div>
        <div class="col-md-6">
            {% include 'main/company/mentors/stephen.html' %}
        </div>
    </div>
</div>