{% load staticfiles %}

<div class="team">
    <div class="hp-title">Meet the team!</div>

    <div class="row">
        <div class="col-md-6">
            {% include 'main/company/members/linhchi.html' %}
        </div>
        <div class="col-md-6">
            {% include 'main/company/members/justin.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'main/company/members/jaime.html' %}
        </div>
        <div class="col-md-6">
            {% include 'main/company/members/angelina.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include 'main/company/members/lois.html' %}
        </div>

        <div class="col-md-6">
            {% include 'main/company/members/jonathan.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 center-block">
            {% include 'main/company/members/amy.html' %}
        </div>
    </div>
</div>