{% load staticfiles %}

<footer>
    <div class="container">
        <div class="pull-left fnav">
            <p>All Rights Reserved | HackerPack © 2016 </p>
        </div>

        <div class="pull-right fnav">
            <ul class="footer-social">

                <li><a href="mailto:jaime.orellana789@gmail.com">
                    <i class="fa fa-at"></i>
                </a></li>

                <li><a href="https://www.linkedin.com/company/10615451">
                    <i class="fa fa-linkedin-square"></i>
                </a></li>

                <li><a href="https://www.facebook.com/HackerPack/">
                    <i class="fa fa-facebook"></i>
                </a></li>

                <li><a href="https://twitter.com/gethackerpack">
                    <i class="fa fa-twitter"></i>
                </a></li>

            </ul>
        </div>
    </div>
</footer>

{% include 'main/scripts/js.html' %}